 /* الصفحة */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-family: sans-serif;
}

/* الكونتينر */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}

/* الصفوف */
.row {
    display: flex;
    justify-content: center;
}

/* الحقول */
input {
    width: 400px;
    padding: 10px;
    border-radius: 6px;
    background: white;
    border: 1px solid #444;
    color: black;
    outline: none;
}

/* placeholder */
::placeholder {
    color: #000 !important; /* لأنه الخلفية بيضاء */
    opacity: 1 !important;
}

/* الزر */
button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #0f0e0e;
    color: #be2d2d;
    border: 1px solid #be2d2d;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 120px;
    margin-left: auto;
    margin-right: auto; /* يخليه في النص */
    display: block;
}

/* أيقونة القائمة */
.menu-icon {
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    top: 250px;
    left: 0px;
    z-index: 20;
    color:  #000;
}

/* القائمة الجانبية */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 15;
}

/* الروابط داخل القائمة */
.sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #333;
}

/* زر إغلاق القائمة */
.sidenav .closebtn {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
}

/* صورة داخل القائمة */
.dd img {
    height: 50%;
    width: 50%;
    padding-top: 50px;
    margin-left: 20px;
}

 
.hder {
    height: 700px;
    background-color: #fff;
    width: 5%;     
    position: absolute;
    top: 0;
    left: 0;
}
  
