  
    .meal {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.meal img {
  transition: transform 0.4s ease;
}

.meal:hover img {
  transform: scale(1.1);
}
.meal-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;                  
  display: flex;
  align-items: center;
  justify-content: center;        
  background: rgba(255, 255, 255, 0.8);
  transform: translateY(100%);
  transition: transform 0.4s ease;
  z-index: 10;
}
 
.meal:hover .meal-layer {
  transform: translateY(0);
}
.menu-icon {
  font-size: 90px;
  padding: 10px;
  cursor: pointer;
    position: fixed; 
    margin-top: 200px;
     
 }
  
/* القائمة الجانبية */
 .sidenav {
  height: 1000%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 10;
   
}

/* الروابط */
 .sidenav a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #333;
}

/* زرار X */
.sidenav .closebtn {
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 20px;
}
 .dd{height: 90px;}
.dd img{ height: 90%;
width: 90%;
padding-top: 20px;}

 .menu-icon {
  font-size: 50px;
  padding: 10px;
  cursor: pointer;
    position: fixed;    
 }
  
/* القائمة الجانبية */
 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 10;
   
}
 
/* الروابط */
 .sidenav a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #333;
}

/* زرار X */
.sidenav .closebtn {
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 20px;
}
/* .dd{height: 90px;} */
.dd img{ height: 90%;
width: 90%;
padding-top: 20px;
  }
  
.hder {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000; /* أقل من sidenav */
}

::placeholder {
    color: #ffffff !important;
    opacity: 1 !important; /* عشان يكون واضح */
}
  